@page
@{
}

@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using E_Migrant.App.Persistencia
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model E_Migrant.App.Frontend.Pages.MisDatosMigrante.MisDatosMigranteModel

<div class="container m-md-4">

    <div class="card col-md-5 p-md-5 container">
        <h4 class="card-title text-center m-2">Mis Datos</h4>
        <form class="row g-3 needs-validation" method="post" novalidate>
            
                
                <input type="hidden" asp-for="migrante.id" />
            
            <div class="col-md-12">
                <label asp-for="migrante.nombre" class="form-label"></label>
                <input type="text" class="form-control" asp-for="migrante.nombre" />
            </div>
            <div class="col-md-12">
                <label asp-for="migrante.apellidos" class="form-label"></label>
                <input type="text" class="form-control" asp-for="migrante.apellidos" />
            </div>
            <div class="col-md-12">
                <label asp-for="migrante.pais" class="form-label"></label>
                <input type="text" class="form-control" asp-for="migrante.pais"/>
                <div class="invalid-feedback">Este campo es requerido</div>
            </div>
            <div class="col-md-6 mt-4">
                    <select class="" aria-label="Default select example" asp-for="migrante.tipoIdentificacion" required>
                        
                        <option selected >Tipo Documento</option>
                        <option value="0">Tarjeta identidad</option>
                        <option value="1">cedula extranjeria</option>
                        <option value="2">Pasaporte</option>
                        <option value="3">otro</option>
                    </select>
            </div>
            <div class="col-md-6">
                <label asp-for="migrante.numeroIdentificacion" class="form-label"></label>
                <input type="text" class="form-control" asp-for="migrante.numeroIdentificacion" />
            </div>
            <div class="col-md-12">
                <label asp-for="migrante.ciudad"class="form-label"></label>
                <input type="text" class="form-control" asp-for="migrante.ciudad"/>
            </div>
            <div class="col-md-12">
                <label asp-for="migrante.situacionLaboral" class="form-label"></label>
                <input type="text" class="form-control" asp-for="migrante.situacionLaboral" />
            </div>
            <div class="col-md-12">
                <label asp-for="migrante.direccionActual" class="form-label"></label>
                <input type="text" class="form-control" asp-for="migrante.direccionActual" />
            </div>
            
            
            <div class="col-md-12">
                <label asp-for="migrante.correoElectronico" class="form-label"></label>
                <input type="text" class="form-control" asp-for="migrante.correoElectronico" />
            </div>
               
            
            
            <div class="col-md-12">
                <label asp-for="migrante.numeroTelefonico" class="form-label"></label>
                <input type="text" class="form-control" asp-for="migrante.numeroTelefonico" />
            </div>
            <div class="col-md-12">
                <label asp-for="migrante.fechaNacimiento" class="form-label"></label>
                <input type="text" class="form-control" asp-for="migrante.fechaNacimiento" />
                <div class="invalid-feedback">Este campo es requerido</div>
            </div>

            <div class="col-12 mx-auto mt-2">
                <button class="btn btn-primary" type="submit">Actualizar</button>
            </div>
            


        </form>
        
    </div>

</div>