@page
@model E_Migrant.App.Frontend.Pages.RegistroDatosMigra
@{
}
<div class="container m-md-4">

    <div class="card col-md-5 p-md-5 container">
        <h4 class="card-title text-center m-2">Registrar Datos Migrante</h4>
        <form class="row g-3 needs-validation" novalidate>
            <div class="col-md-12">
                <label for="txtNombres" class="form-label">nombres</label>
                <input type="text" class="form-control" id="txtNombres" required />
                <div class="invalid-feedback">Este campo es requerido</div>
            </div>
            <div class="col-md-12">
                <label for="txtApellidos" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="txtApellidos" required />
                <div class="invalid-feedback">Este campo es requerido</div>
            </div>
            <div class="col-md-12">
                <label for="txtPais" class="form-label">País</label>
                <input type="text" class="form-control" id="txtPais" required />
                <div class="invalid-feedback">Este campo es requerido</div>
            </div>
            <div class="col-md-6 mt-4">
                    <select class= aria-label="Default select example" required>
                        
                        <option selected >Tipo Documento</option>
                        <option value="1">Tarjeta identidad</option>
                        <option value="2">cedula extranjeria</option>
                        <option value="3">Pasaporte</option>
                        <option value="3">otro</option>
                    </select>
                    <div class="invalid-feedback">Este campo es requerido</div>
            </div>
            <div class="col-md-6">
                <label for="txtidentificacion" class="form-label">Identificación</label>
                <input type="text" class="form-control" id="txtidentificacion" required />
                <div class="invalid-feedback">Este campo es requerido</div>
            </div>
            <div class="col-md-12">
                <label for="txtiCiudad" class="form-label">Ciudad</label>
                <input type="text" class="form-control" id="txtCiudad" />
            </div>
            <div class="col-md-12">
                <label for="txtCituacionLaboral" class="form-label">Cituación laboral</label>
                <input type="text" class="form-control" id="txtCituacionLaboral" />
            </div>
            <div class="col-md-12">
                <label for="txtDireccionActual" class="form-label">Dirección Actual</label>
                <input type="text" class="form-control" id="txtDireccionActual"  />
            </div>
            
            
            <div class="col-md-12">
                <label for="txtCorreo" class="form-label">Correo electronico</label>
                <input type="text" class="form-control" id="txtCorreo"  />
            </div>
               
            
            
            <div class="col-md-12">
                <label for="txtCelular" class="form-label">Numero Telefonico</label>
                <input type="text" class="form-control" id="txtCelular"  />
            </div>
            <div class="col-md-12">
                <label for="txtFechaNacimiento" class="form-label">Fecha Nacimiento</label>
                <input type="text" class="form-control" id="txtFechaNacimiento" required />
                <div class="invalid-feedback">Este campo es requerido</div>
            </div>

            <div class="col-12 mx-auto ">
                <button class="btn btn-primary" type="submit">Registrar</button>
            </div>


        </form>
    </div>

</div>
